@using QuizApp.Models;
@model QuizResults
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quiz Results</title>
</head>
<body>
    <h1>These are the results!</h1>

    <h3>Name of participant: @Model.participantName</h3>
    <h3>Correct answers: @Model.CorrectAnswers</h3>
    <h3>Wrong answers: @Model.WrongAnswers</h3>
</body>
</html>
