@using QuizApp.Models;
@model int
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quiz Results</title>
</head>
<body>
    <h1>These are the results!</h1>

    <h3>Errors: @Model</h3>
</body>
</html>
